<section class="bg-black p-3">
    <p class="fw-bold fs-3 text-center text-white font-title">Contácto</p>
</section>

<section class="d-flex bg-white w-75 mx-auto justify-content-around rounded-3 mt-5 align-items-center shadow max-w">

    <div class="p-3">
        <p class="fw-bold fs-4 font-title text-center">¿Donde nos encontramos?</p>
        <p class="text-center">Direccion</p>
        <p class="text-center">direccion 2</p>
    </div>

    <div class="p-3 d-none d-sm-none d-md-flex">
        <img src="..//public/img/contact1.jpg" alt="" class="rounded-3">
    </div>

</section>

<section class="d-flex bg-white w-75 mx-auto justify-content-around rounded-3 mt-5 max-w">

    <div class="py-3 d-none d-sm-none d-md-flex">
        <img src="..//public/img/contact2.jpg" alt="" class="rounded-3">
    </div>


    <section>
        <div class="p-3">
            <p class="fw-bold fs-4 font-title text-center">Número</p>
            <p class="text-center">+57 3138509275</p>
            <p class="text-center">+1 10458682</p>
        </div>

        <div class="p-3 ">
            <p class="fw-bold fs-4 font-title text-center">Correo</p>
            <p>{{correo}}</p>
        </div>
    </section>

</section>

<section class="bg-white w-75 mx-auto rounded-3 my-5 max-w">


    <p class="fw-bold fs-4 text-center pt-3 font-title">¿Donde nos encontramos?</p>

    <div class="row d-flex mx-5 p-3 fw-bold fs-5">

        <div class="col-6 my-4">
            <p>
                <img src="..//public/img/instagram.png" alt="" class="img-red me-5 d-none d-sm-none d-md-flex" draggable="false">
                <a href="https://www.instagram.com/barbacoabarrilesco/" target="_blank">Instagram</a>
            </p>
        </div>

        <div class="col-6 my-4">   
            <p class="d-flex flex-column justify-content-end text-center">
                <img src="..//public/img/tiktok.png" alt="" class="img-red d-none d-sm-none d-md-flex m-auto" draggable="false">
                <a href="https://www.tiktok.com/@barbacoabarrilescol" target="_blank">TikTok</a>
            </p>
        </div>

    </div>

</section>

