.card {
    position: relative;
}

.card-img-top {
    display: block;
    width: 100%;
    transition: opacity 0.3s ease;
}

.card:hover .card-img-top {
    opacity: 80%;
    
}

.bg-color {
    background-color: #0e0e0e;
}

button:hover{
background-color: #2b2929;
}
