<section class="bg-black p-3">
    <p class="fw-bold fs-3 text-center text-white">Barriles Premium</p>
</section>



<div class="row d-flex g-4 p-4">
    <div class="col-3">
        <div class="card">
            <img src="..//public/img/barrilespremium.png" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="..//public/img/barrilespremium.png" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="..//public/img/barrilespremium.png" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="..//public/img/barrilespremium.png" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="..//public/img/barrilespremium.png" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="..//public/img/barrilespremium.png" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="..//public/img/barrilespremium.png" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="..//public/img/barrilespremium.png" class="card-img-top" alt="...">
        </div>
    </div>
</div>

<div class="d-flex justify-content-end me-4 mb-5">
    <button class="btn bg-color text-white" routerLink="/accesories">Linea eco</button>
    <button class="btn bg-color text-white ms-4" routerLink="/accesories">Accesorios</button>
</div>
