<section class="bg-black p-3">
    <p class="fw-bold fs-3 text-center text-white font-title">Nuestros Clientes</p>
</section>


<section id="color-slide" class="py-4 row">

    <div class="col-5 py-4 text-white d-flex align-items-center justify-content-center">
        <div class=" p-3  h-50 d-flex align-items-center justify-content-center color-title">
            <p class="fs-4 fw-bold">¡Gracias por confiar en nosotros!</p>
        </div>
    </div>


    <div id="clients" class="carousel slide story-carousel mx-auto mt-5 col-7 h-25 w-25 pb-5" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="..//public/img/client1.jpg" alt="Historia 1">
            </div>
            <div class="carousel-item">
                <img src="..//public/img/client2.jpg" alt="Historia 2">
            </div>
            <div class="carousel-item">
                <img src="..//public/img/client3.jpg" alt="Historia 3">
            </div>
            <div class="carousel-item">
                <img src="..//public/img/client4.jpg" alt="Historia 3">
            </div>
            <div class="carousel-item">
                <img src="..//public/img/client5.jpg" alt="Historia 3">
            </div>
        </div>
        <a class="carousel-control-prev" href="#clients" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#clients" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </a>
    </div>
</section>


<section class="bg-black p-3">
    <p class="fw-bold fs-3 text-center text-white font-title">Envios</p>
</section>

<section id="color-slide-1" class="py-4 row">

    <div id="shipment" class="carousel slide story-carousel mx-auto mt-5 col-7 h-25 w-25 pb-5" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="..//public/img/client1.jpg" alt="Historia 1">
            </div>
            <div class="carousel-item">
                <img src="..//public/img/client2.jpg" alt="Historia 2">
            </div>
            <div class="carousel-item">
                <img src="..//public/img/client3.jpg" alt="Historia 3">
            </div>
            <div class="carousel-item">
                <img src="..//public/img/client4.jpg" alt="Historia 3">
            </div>
            <div class="carousel-item">
                <img src="..//public/img/client5.jpg" alt="Historia 3">
            </div>
        </div>
        <a class="carousel-control-prev" href="#shipment" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#shipment" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </a>
    </div>

    <div class="col-5 py-4 text-white d-flex align-items-center justify-content-center">
        <div class=" p-3  h-50 d-flex align-items-center justify-content-center color-title-1">
            <p class="fs-4 fw-bold">¡Nacionales e internacionales!</p>
        </div>
    </div>


</section>

<section class="bg-black p-3">
    <p class="fw-bold fs-3 text-center text-white font-title">Carne al barril</p>
</section>

<section id="color-slide" class="py-4 row">

    <div class="col-5 py-4 text-white d-flex align-items-center justify-content-center">
        <div class=" p-3  h-50 d-flex align-items-center justify-content-center color-title">
            <p class="fs-4 fw-bold">¡Para pasar los mejores momentos!</p>
        </div>
    </div>


    <div id="steak" class="carousel slide story-carousel mx-auto mt-5 col-7 h-25 w-25 pb-5" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="..//public/img/client1.jpg" alt="Historia 1">
            </div>
            <div class="carousel-item">
                <img src="..//public/img/client2.jpg" alt="Historia 2">
            </div>
            <div class="carousel-item">
                <img src="..//public/img/client3.jpg" alt="Historia 3">
            </div>
            <div class="carousel-item">
                <img src="..//public/img/client4.jpg" alt="Historia 3">
            </div>
            <div class="carousel-item">
                <img src="..//public/img/client5.jpg" alt="Historia 3">
            </div>
        </div>
        <a class="carousel-control-prev" href="#steak" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#steak" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </a>
    </div>
</section>

<section class="bg-black p-3">
    <p class="fw-bold fs-3 text-center text-white font-title">Guías</p>
</section>

<section id="color-slide-1" class="py-4 row pb-5">

    <div id="guide" class="carousel slide story-carousel mx-auto mt-5 col-7 h-25 w-25" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="..//public/img/client1.jpg" alt="Historia 1">
            </div>
            <div class="carousel-item">
                <img src="..//public/img/client2.jpg" alt="Historia 2">
            </div>
            <div class="carousel-item">
                <img src="..//public/img/client3.jpg" alt="Historia 3">
            </div>
            <div class="carousel-item">
                <img src="..//public/img/client4.jpg" alt="Historia 3">
            </div>
            <div class="carousel-item">
                <img src="..//public/img/client5.jpg" alt="Historia 3">
            </div>
        </div>
        <a class="carousel-control-prev" href="#guide" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#guide" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </a>
    </div>

    <div class="col-5 py-4 text-white d-flex align-items-center justify-content-center">
        <div class=" p-3 w-75 h-50 d-flex align-items-center justify-content-center color-title-1">
            <p class="fs-4 fw-bold ">¿Cómo usar?</p>
        </div>
    </div>


</section>

