<section class="bg-black p-3">
    <p class="fw-bold fs-3 text-center text-white">Sobre Nosotros</p>
</section>

<section class="bg-white w-75 m-auto rounded-3 mt-5 pb-4">

    <div>
        <p class="text-center fw-bold fs-4 pt-3">Somos Barbacoa Barril</p>

        <div class="bg-color-about mx-auto d-flex justify-content-center p-2">
            <p class="w-75 text-center">
                Tenemos un objetivo principal y es ser el <b>asociado perfecto</b> para los grandes momentos en <b>familia</b>,
                creando <b>recuerdos inolvidables</b>, ofreciendo un producto de <b>alta calidad</b>,<b>funcionalidad</b> y <b>riqueza
                gastronómica</b>, nuestro producto cumple los <b>estándares más altos de durabilidad</b> y su estilo es <b>implacable</b>.

                Nuestro compromiso con los clientes es nuestra <b>prioridad</b>, por eso en Barbacoa barril <b>prometemos mejorar</b>
                e <b>innovar</b> cada día para brindarles a nuestros clientes lo que <b>se merecen</b>.
            </p>
        </div>

    </div>

</section>

<section class="bg-white w-75 m-auto rounded-3 mt-5 pb-4">

    <div>
        <p class="text-center fw-bold fs-4 pt-3">Misión</p>

        <div class="bg-color-about mx-auto d-flex justify-content-center p-2">
            <p class="w-75 text-center">En Barbacoa barril, nos dedicamos a <b>diseñar</b> y <b>fabricar detalladamente</b> barriles
                asadores de la <b>calidad más
                alta en el mercado</b>, con el fin de concederles a nuestros clientes una <b>experiencia única</b> y <b>auténtica</b> de
                experiencias en <b>familia</b> y <b>en sabor</b>. Cada día nos esforzamos por ser los <b>líderes en el mercado
                colombiano</b>,
                <b>innovando</b> creativamente y con el compromiso y pasión de generar la atención <b>perfecta</b> para nuestros
                clientes.
            </p>
        </div>

    </div>

</section>

<section class="bg-white w-75 m-auto rounded-3 my-5 pb-4">

    <div>
        <p class="text-center fw-bold fs-4 pt-3">Visión</p>

        <div class="bg-color-about mx-auto d-flex justify-content-center p-2">
            <p class="w-75 text-center">
                Para el <b>2028</b> Barbacoa Barril será <b>Líder en el mercado Latinoamericano</b>, reconocido por la <b>gran innovación</b>
                e <b>inspiración</b> por <b>calidad</b> y <b>compromiso</b>, creando <b>experiencias innolvidables</b>. El fin para los próximos
                años está en ser un <b>símbolo de unión</b> y <b>tradición</b> para las familias <b>colombianas</b> y <b>latinoamericanas</b>.
                Se expandirá en gran cantidad en el mercado, asistiendo a las <b>necesidades</b> de los <b>clientes</b>, estableciendo
                <b>estratégicamente</b> alianzas que permitan <b>crecer</b> y <b>desarrollarsen</b>. La prioridad se basa en ser la <b>mejor
                opción</b> para la elección de los <b>amantes</b> de los <b>buenos momentos</b> en los <b>asados</b>, dejando <b>huella</b> en cada
                rincón con todos sus productos.
            </p>
        </div>

    </div>

</section>