<footer class="bg-black p-3 row">

    <section class="d-flex col-3">
        <div class="text-white">
            <p class="m-0 fs-5">Barbacoa BarrilesCO</p>
            <p class="m-0">Villavicencio, Meta</p>
        </div>

        <div class="linea-vertical"></div>

    </section>

    <section class="d-flex col-9 justify-content-around" id="henlaces">

        <p class="hover-p m-0" routerLink="/clients" fragment="clients">Nuestros clientes</p>
        <p class="hover-p m-0" routerLink="/clients" fragment="shipment">Envíos</p>
        <p class="hover-p m-0" routerLink="/clients" fragment="steak">Carne al barril</p>
        <p class="hover-p m-0" routerLink="/clients" fragment="guide">Guías</p>

    </section>




</footer>