.linea-vertical {
    width: 2px;
    height: 100px;
    background-color: white;
    margin-left: 80px;
}

#henlaces {
    height: 100px;
}

.hover-p {
    cursor: pointer;
    color: white;
    transition: opacity 0.3s ease;
}

.hover-p:hover {
    opacity: 40%;
}

.max{
    max-width: 1400px;
    min-width: 300px;
}
