<footer class="bg-black p-3 row ">



    <section
        class="d-flex justify-content-center justify-content-sm-center justify-content-md-end mb-5 mb-sm-5 mb-md-0 col-12 col-sm-12 col-md-4 ">
        <div class="text-white">
            <p class="m-0 fs-5">Barbacoa BarrilesCO</p>
            <p class="m-0 d-flex justify-content-center justify-content-sm-start justify-content-md-center">
                Villavicencio, Meta</p>
        </div>

        <div class="linea-vertical d-none d-sm-none d-md-flex"></div>

    </section>

    <section class="d-flex justify-content-center col-12 col-sm-12 col-md-8 text-center container-fluid" id="henlaces">

        <div class="d-flex justify-content-evenly col-12 col-sm-12 col-md-8 row text-center container-fluid max">

            <p class="hover-p m-0 col-6 col-sm-3 text-center p-0 h-25 mw" routerLink="/clients" fragment="clients">
                Nuestros clientes</p>
            <p class="hover-p m-0 col-6 col-sm-3 text-center p-0 h-25" routerLink="/clients" fragment="shipment">Envíos
            </p>
            <p class="hover-p m-0 col-6 col-sm-3 text-center p-0 h-25" routerLink="/clients" fragment="steak">Carne al
                barril</p>
            <p class="hover-p m-0 col-6 col-sm-3 text-center p-0 h-25" routerLink="/clients" fragment="guide">Guías</p>


            <section class="d-flex d-md-none justify-content-around">
                <a href="https://www.instagram.com/barbacoabarrilesco/">Instagram</a>
                <a href="https://www.tiktok.com/@barbacoabarrilescol">Tik Tok</a>
            </section>

            <section class="d-none d-md-flex justify-content-start">
                <a href="https://www.instagram.com/barbacoabarrilesco/" target="_blank"><img src="img/instagram.png" alt="" class="he me-5"></a>
                <a href="https://www.tiktok.com/@barbacoabarrilescol" target="_blank"><img src="img/tiktok2.png" alt="" class="he"></a>
            </section>


        </div>

    </section>





</footer>