<section class="d-flex bg-black row" id="sticky-navbar">

    <div class="d-flex justify-content-center col-5">
        <img src="..//public/img/barbacoabarrilLOGO.png" id="imglogo" routerLink="/" draggable="false">
    </div>

    <div class="d-flex justify-content-end align-items-center col-7">
        <article>
            <p class="text-white" routerLink="/products">Nuestros productos</p>
        </article>

        <article class="ms-5">
            <p class="text-white" routerLink="/contact">Contácto</p>
        </article>

        <article class="mx-5">
            <p class="text-white" routerLink="/about">Sobre nosotros</p>
        </article>
    </div>

</section>
