#imglogo {
    width: 80px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#imglogo:hover{
    transform: scale(0.9);
}

#sticky-navbar {
    position: sticky;
    top: 0;
    z-index: 999;
}

p{
cursor: pointer;
transition: opacity 0.3s ease;
margin: 0%;
}

p:hover{
    opacity: 40%;
}

