<nav class="navbar navbar-expand-lg bg-body-tertiary p-0 sticky-top" id="sticky-navbar">
    <div class="container-fluid">
        <div class="navbar-brand ps-5">
            <img src="img/barbacoabarrilLOGO.png" id="imglogo" routerLink="/" draggable="false" aria-label="Home" alt="Logo">


        </div>

        <button class="navbar-toggler bg-white me-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center justify-content-md-end" id="navbarNav">
            <ul class="navbar-nav text-center">
                <li class="nav-item">
                    <p><a class="text-white nav-link" routerLink="/products">Nuestros productos</a></p>
                </li>
                <li class="nav-item">
                    <p><a class="text-white nav-link" routerLink="/contact">Contácto</a></p>
                </li>
                <li class="nav-item">
                    <p><a class="text-white nav-link" routerLink="/about">Sobre nosotros</a></p>
                </li>
            </ul>
        </div>
    </div>
</nav>

