<section class="pb-5" id="color-carousel">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="..//public/img/carousel1.jpg" class="d-block w-100" alt="">
                <div class="carousel-caption d-none d-md-block">
                    <h5  class="font-title">¡Pasa los mejores momentos en familia!</h5>
                    <p>Crea momentos inolvidables</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="..//public/img/carousel2.jpg" class="d-block w-100" alt="">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="font-title">Gran calidad</h5>
                    <p>cumplimos los estándares más altos de durabilidad y su estilo es implacable.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="..//public/img/carousel3.jpg" class="d-block w-100" alt="">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="font-title">Te escuchamos</h5>
                    <p>Nuestro compromiso con los clientes es nuestra prioridad, por eso prometemos mejorar e innovar
                        cada día para brindarles a nuestros clientes lo que se merecen.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>


<section class="d-flex justify-content-around p-4">

    <div class="bg-black rounded-4 d-flex flex-column align-items-center">
        <img src="..//public/img/barril80lb.png" alt="" class="hbarriles1 rounded-circle p-2">
        <p class="mx-5 my-4 fw-bold text-white">Barril 80 lbs</p>
    </div>
    <div class="bg-black rounded-4 d-flex flex-column align-items-center">
        <img src="..//public/img/barril50lb.png" alt="" class="hbarriles1 rounded-circle p-2">
        <p class="mx-5 my-4 fw-bold text-white">Barril 50 lbs</p>
    </div>
    <div class="bg-black rounded-4 d-flex flex-column align-items-center">
        <img src="..//public/img/barril17lb.png" alt="" class="hbarriles1 rounded-circle p-2">
        <p class="mx-5 my-4 fw-bold text-white">Barril 17 lbs</p>
    </div>


</section>

<section>

    <div id="color-hw-titulo" class="d-flex m-auto rounded-top-4 mt-3">
        <p class="text-white fs-4 m-auto font-title">Nuestros productos</p>
    </div>

    <section id="color-productos" class="rounded-4 pt-5 pb-5">



        <div class="bg-white d-flex justify-content-around w-75 m-auto rounded-4">
            <img src="..//public/img/barrillanding50lb.png" alt="" class="img-landing rounded-5 p-3">
            <div class="div-color-landing my-3 rounded-3">
                <p class="fs-5 text-center p-4 font-title">Barril premium 50 libras</p>
                <div class="ms-5">
                    <p class="fw-bold">Incluye :</p>
                    <ul>
                        <li><strong>16</strong> Ganchos gruesos</li>
                        <li><strong>1</strong> Carbonera</li>
                        <li><strong>1</strong> Termometro</li>
                    </ul>
                </div>
                <p class="d-flex justify-content-end me-4">Precio: 1.100.000</p>
            </div>
        </div>

        <div class="bg-white d-flex justify-content-around w-75 m-auto mt-5 rounded-4">
            <div class="div-color-landing my-3 rounded-3">
                <p class="fs-5 text-center p-4 font-title">Barril premium 30 libras</p>
                <div class="ms-5">
                    <p class="fw-bold">Incluye :</p>
                    <ul>
                        <li><strong>16</strong> Ganchos delgados</li>
                        <li><strong>1</strong> Carbonera</li>
                        <li><strong>1</strong> Termometro</li>
                    </ul>
                </div>
                <p class="d-flex justify-content-end me-4">Precio: 900.000</p>
            </div>
            <img src="..//public/img/barrillanding30lb.png" alt="" class="img-landing rounded-5 p-3">
        </div>

        <div class="bg-white d-flex justify-content-around w-75 m-auto mt-5 rounded-4">
            <img src="..//public/img/barrillanding17lb.png" alt="" class="img-landing rounded-5 p-3">
            <div class="div-color-landing my-3 rounded-3">
                <p class="fs-5 text-center p-4 font-title">Barril premium 50 libras</p>
                <div class="ms-5">
                    <p class="fw-bold">Incluye :</p>
                    <ul>
                        <li><strong>13</strong> Ganchos delgados</li>
                        <li><strong>1</strong> Carbonera</li>
                        <li><strong>1</strong> Termometro</li>
                    </ul>
                </div>
                <p class="d-flex justify-content-end me-4">Precio: 700.000</p>
            </div>
        </div>



    </section>


    <div id="color-hw-titulo" class="d-flex m-auto rounded-bottom-4 mb-5">
        <p class="hover-p fs-4 mx-auto text-center font-title" routerLink="/products">Ver más</p>
    </div>

</section>


