<section class="bg-black p-3">
    <p class="fw-bold fs-3 text-center text-white font-title">Referencias</p>
</section>

<section class="container my-4 px-4">
    <div class="row text-center">

        <div class="col-6 col-md-3 mb-2">
            <button class="btn bg-color text-white w-100" routerLink="/references">Referencias</button>
        </div>

        <div class="col-6 col-md-3 mb-2">
            <button class="btn bg-color text-white w-100" routerLink="/products">Barriles premium</button>
        </div>

        <div class="col-6 col-md-3 mb-2">
            <button class="btn bg-color text-white w-100" routerLink="/eco">Barriles eco</button>
        </div>

        <div class="col-6 col-md-3 mb-2">
            <button class="btn bg-color text-white w-100" routerLink="/accesories">Accesorios</button>
        </div>
    </div>
</section>


<section class="row p-4 pt-0 max d-flex m-auto">

    <div class="col-12 col-sm-12 col-md-6 ">
        <img src="img/referencia8.jpg" alt="" class="img-big">
    </div>

    <section class="col-12 col-sm-12 col-md-6 mt-4 mt-sm-4 mt-md-0 g-4 row m-0 d-flex justify-content-center align-items-center">

        <div class="col-6 m-0">
            <img src="img/referencia2.jpg" alt="" class="img-small">
        </div>

        <div class="col-6 m-0">
            <img src="img/referencia3.jpg" alt="" class="img-small">
        </div>

        <div class="col-6">
            <img src="img/referencia4.jpg" alt="" class="img-small">
        </div>

        <div class="col-6">
            <img src="img/referencia5.jpg" alt="" class="img-small">
        </div>

    </section>

</section>

<section class="row p-4 max d-flex m-auto pt-0 pt-sm-0 pt-md-5 mb-5">

    <section class="col-12 col-sm-12 col-md-6 g-4 row m-0 d-flex justify-content-center align-items-center">

        <div class="col-6 m-0">
            <img src="img/referencia6.jpg" alt="" class="img-small">
        </div>

        <div class="col-6 m-0">
            <img src="img/referencia7.jpg" alt="" class="img-small">
        </div>

        <div class="col-6">
            <img src="img/referencia9.jpg" alt="" class="img-small">
        </div>

        <div class="col-6">
            <img src="img/referencia1.jpg" alt="" class="img-small">
        </div>

    </section>

    <div class="col-12 col-sm-12 col-md-6 mt-4 mt-sm-4 mt-md-0">
        <img src="img/referencia10.jpg" alt="" class="img-big-1">
    </div>

</section>

