body {
    background-color: #651919 !important;
    overflow-x: hidden;
    font-family: "Baloo Bhaijaan 2", sans-serif !important;
}

.font-title{
    font-family: "Capriola", sans-serif;
    font-weight: 800;
    font-style: normal;
}