<section class="bg-black p-3">
    <p class="fw-bold fs-3 text-center text-white font-title">Accesorios</p>
</section>


<section class="container my-4 px-4">
    <div class="row text-center">

        <div class="col-6 col-md-3 mb-2">
            <button class="btn bg-color text-white w-100" routerLink="/references">Referencias</button>
        </div>

        <div class="col-6 col-md-3 mb-2">
            <button class="btn bg-color text-white w-100" routerLink="/products">Barriles premium</button>
        </div>

        <div class="col-6 col-md-3 mb-2">
            <button class="btn bg-color text-white w-100" routerLink="/eco">Barriles eco</button>
        </div>

        <div class="col-6 col-md-3 mb-2">
            <button class="btn bg-color text-white w-100" routerLink="/accesories">Accesorios</button>
        </div>
    </div>
</section>



<div class="row d-flex g-4 p-4 pt-0 mb-5">
    <div class="col-12 col-sm-12 col-md-3">
        <div class="card">
            <img src="img/accesorio1.png" class="card-img-top" alt="">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-3">
        <div class="card">
            <img src="img/accesorio2.png" class="card-img-top" alt="">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-3">
        <div class="card">
            <img src="img/accesorio3.png" class="card-img-top" alt="">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-3">
        <div class="card">
            <img src="img/accesorio4.png" class="card-img-top" alt="">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-3">
        <div class="card">
            <img src="img/accesorio5.png" class="card-img-top" alt="">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-3">
        <div class="card">
            <img src="img/accesorio6.png" class="card-img-top" alt="">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-3">
        <div class="card">
            <img src="img/accesorio7.png" class="card-img-top" alt="">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-3">
        <div class="card">
            <img src="img/accesorio8.png" class="card-img-top" alt="">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-3">
        <div class="card">
            <img src="img/accesorio9.png" class="card-img-top" alt="">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-3">
        <div class="card">
            <img src="img/accesorio10.png" class="card-img-top" alt="">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-3">
        <div class="card">
            <img src="img/accesorio11.png" class="card-img-top" alt="">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-3">
        <div class="card">
            <img src="img/accesorio12.png" class="card-img-top" alt="">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-3">
        <div class="card">
            <img src="img/accesorio13.png" class="card-img-top" alt="">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-3">
        <div class="card">
            <img src="img/accesorio14.png" class="card-img-top" alt="">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-3">
        <div class="card">
            <img src="img/accesorio15.png" class="card-img-top" alt="">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-3">
        <div class="card">
            <img src="img/accesorio16.png" class="card-img-top" alt="">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-3">
        <div class="card">
            <img src="img/accesorio17.png" class="card-img-top" alt="">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-3">
        <div class="card">
            <img src="img/accesorio18.png" class="card-img-top" alt="">
        </div>
    </div>
    
</div>




